<div class="flex flex-col gap-4 px-6 py-8 border-2 border-white rounded-md">
    <input type="text" placeholder="Nazwa użytkownika" class="bg-transparent border border-white border-opacity-50 text-white rounded-md px-4 py-2 focus:border-opacity-100">
    <input type="password" placeholder="Hasło"  class="bg-transparent border text-white border-white border-opacity-50 rounded-md px-4 py-2 focus:border-opacity-100">
    <button (click)="login()" class="px-4 py-2 bg-green-600 hover:scale-90 cursor-pointer transition-transform text-white font-medium rounded-md">Zaloguj Się</button>
</div>